[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "third_party/half"]
	path = third_party/half
	url = https://github.com/suruoxi/half
[submodule "third_party/FXdiv"]
	path = third_party/FXdiv
	url = https://github.com/Maratyszcza/FXdiv.git
