[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "third_party/FXdiv"]
	path = third_party/FXdiv
	url = https://github.com/Maratyszcza/FXdiv.git
[submodule "third_party/FP16"]
	path = third_party/FP16
	url = https://github.com/Maratyszcza/FP16
